*{
    margin: 0px;
    padding: 0px;
    font-family: "RobotoDraft", "Roboto", sans-serif;
}



.body1{
    width: 100%;
    z-index: 3;
    position: fixed;
    top: 0px;
    /* border: 1px solid; */
    display: flex;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}
.insideBody{
    width: 800px;
    top: 100px;
    position: absolute;
    display: flex;
    margin: 0px auto;
    border: 1px solid white;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
}
.msgNavbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: red;
    color:white;
    font-size: 24px;
}
.msgNavbar i,p{
    margin: 5px 2px;
    padding: 12px 15px;
}
.msgNavbar i:hover{
    background-color: #ddd;
    color: black;
}
label{
    width: 100%;
    padding: 0px 12px;
    box-sizing: border-box;
}
input{
    padding: 10px 12px;
    box-sizing: border-box;
    width: 96%;
    margin: 0px auto;
}
input:focus,textarea:focus{
    outline: 1px solid blue;
}
textarea{
    padding: 10px 12px;
    resize: none;
    box-sizing: border-box;
    width: 96%;
    margin: 10px auto;
    text-align: left;
    vertical-align:middle;
}
.btn{
    width: 100%;
    padding: 0px 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
button{
    padding: 12px 15px;
    border: none;
    margin: 10px 0px;
}
button:first-child{
    background-color: red;
    color: white;
}
button:first-child:hover{
    background-color: #aaa;
    color: black;
    cursor: pointer;
}
button:last-child{
    background-color: #ddd;
    color: black;
}
button:last-child:hover{
    background-color: #aaa;
    color: black;
    cursor: pointer;
}
button i{
    padding: 0px 0px 0px 10px;
}













.container{
    width: 100%;
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.navbarMobile{
    display: none;
}
.leftBody{
    display: none;
    height: auto;
}
.leftContainer{
    width: 300px;
    height: 100vh;
    box-shadow: 0px 0px 5px #333;
    box-sizing: border-box;
    overflow-y:auto;
}
.leftContainer i{
    padding: 0px 10px;
}
.rightContainer{
    box-sizing: border-box;
    display: block;
    padding: 0px 15px;
    box-sizing: border-box;
    width: calc( 100% - 300px);
}
.leftContainer a{
    display: block;
    text-decoration: none;
}
#left1,#left2,#left3{ 
    padding: 18px 15px;
}
#left2{
    color: white;
    background-color: rgb(119, 117, 117);
}
#left3{
    color: white;
    background-color:rgb(222, 20, 20);
}
.box{
    border: 1px solid #ddd;
    padding: 18px 15px;
    background-color: white;
}
.box p{
    padding: 10px 0px;
    color: black;
}
.box1{
    width: 100%;
    display: flex;
}
.box1 p{
    color: #333;
    padding: 10px 20px;
}
.box1 img{
    width: 50px;
    animation-name: pic;
    height: 50px;
    border-radius: 5px;
    
    object-fit: cover;
}
@keyframes pic {
    0%{
        top: -30px;
    }
    100%{
        top: 0px;
    }
}
.last a{
    color: black;
    padding: 15px 10px;
}
.rightContent1{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0px;
    border-bottom: 1px solid #ddd;
}
.rightContent1 img{
    width: 20%;
    height: 50%;
    position: relative;
    animation: pic 0.4s;
    object-fit: cover;
    border-radius: 5px;
}
.rightContent1 p:nth-child(odd){
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 400;
}
.rightContent1 p:nth-child(even){
    padding: 10px 0px 0px 0px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(122, 121, 121);
}
.rightContent1 button{
    padding: 12px 15px;
    border: none;
}
.box2{
    display: none;
}
.anchor{
    font-size: 16px;
}
.box3{
    display: none;
}
.box4{
    display: none;
}
.rightContentpara{
    padding: 20px 0px 0px 0px;
}
